/* ------------------------------------------------------ */
/* BIG TABLET TO 1200px(WIDTH SMALLER THAT THE 1140px row */
/* ------------------------------------------------------ */

@media (max-width: 1200px){
    .container{
        width:1100px;
        margin:0 auto;
    } 

    .item-container-img {
        display: inline-block;
        width: 24%;
        height: 200px;
        margin: 0.5% 0.5% 0 0.5%;
        padding: 5px;
        border-radius: 20px;
        overflow: hidden;
      }
}

/* ----------------------------------------------- */
/* SMALL TABLET TO BIG TABLET: 767px TO 1023px */
/* ----------------------------------------------- */

@media (max-width:1123px){
    .container{
        width:950px;
        margin:0 auto;
    }

    .item-container-img {
        display: inline-block;
        width: 24%;
        height: 200px;
        margin: 0.5% 0.5% 0 0.5%;
        padding: 5px;
        border-radius: 20px;
        overflow: hidden;
      }

      .git-profile-img{
        width: 80%;
        height:80%;
        margin:10px;
        border-radius:3px;
        box-shadow: 0 0 8px #555;
      
      }


      .title-row {
        width: 95%;
        margin: 5px 2.5% 0 2.5%;
        font-weight:400;
        font-size:80%;
      }

      .item {
        border-bottom: 1px solid #555;
        padding: 1.5px;
        border-radius: 3px;
        box-shadow: 0px 0px 5px #555;
        margin-top: 3px;
        font-weight: 400;
        width: 80%;
      }
    
}

/* ----------------------------------------------- */
/* SMALL PHONES TO SMALL TABLETS: 481px TO 767px */
/* ----------------------------------------------- */

@media(max-width:976px){
    .container{
        width:767px;
        margin: 0 auto;
    }
    
    .git-profile{
        width:34%;
        margin:15px 1%;
        padding:5px;
        border-radius:3px;
        text-align:center;
        float:left;
        display:flex;
        align-items: center; 
        justify-content: center;
        box-shadow: 10px 0px 15px #555;
      }

      .git-repos li{
        width:80%;
        margin-left:10%;
        box-shadow: 0 0 10px #555;
        margin: 7px 10%;
        padding:5px;
        padding-left:15%;
      }

      .footer-style ul li{
        display:inline-block;
        font-size:150%;
        margin:10px;
        padding:5px;
      }

      .item-container-img {
        display: inline-block;
        width: 32%;
        height: 200px;
        margin: 0.33% 0.33% 0 0.33%;
        padding: 5px;
        border-radius: 20px;
        overflow: hidden;
      }

      .item {
        border-bottom: 1px solid #555;
        padding: 1.5px;
        border-radius: 3px;
        box-shadow: 0px 0px 5px #555;
        margin-top: 3px;
        font-weight: 300;
        font-size:80%;
        width: 80%;
      }

      .data {
        width: 32%;
        height: 100%;
        margin:30px 0.666% 0 0.666%;
        float: left;
        display:flex;
        align-items: center; 
        justify-content: center;
        margin-bottom: 15px;
      }

      .contact ul li {
        margin-left: 10%;
        width: 85%;
      }

      .basic-info {
        width: 100%;
        height: 160px;
        margin: 15px auto 0 auto;
        box-shadow: 0px 0px 15px #555;
        border-radius: 3px;
      }

      i {
        text-align: center;
        width: 25px;
        border-right: 1px solid #555;
        border-bottom: 1px solid #555;
        padding: 2px;
        border-radius: 3px;
        box-shadow: 0px 0px 5px #555;
        margin-right: 3px;
      }

      .fa-external-link-alt{
          margin-right:3px !important;
          padding:2px;
      }

      .title-row {
        width: 95%;
        margin: 5px 2.5% 0 2.5%;
        font-weight:350;
        font-size:75%;
      }

      .col-3 {
        display: inline-block;
        width: 32%;
        margin: 10px 0.6666%;
        padding: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 80%;
        font-weight: 600;
        border-bottom: 3px solid #555;
        border-radius: 3px;
        height:36px;
      }
}

/* ----------------------------------------------- */
/* SMALL PHONES: 0px TO 480px */
/* ----------------------------------------------- */

@media (max-width:790px){
   .container{
       width:480px;
       margin:0 auto;
   }

   .cover-photo {
    width: 100%;
    height: 30vh;
    box-shadow: 0px 0px 15px #555;
    border-radius: 3px;
  }

   .profile-image img {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -90px;
    box-shadow: 0px 0px 15px #555;
    z-index: 9999;
  }

  .container .basic-info{
    margin-top:15px;
    padding:0;
    width:100%;
    height:auto!important;
    overflow-y:hidden;
  }

  .items {
    list-style: none;
    width: 100%;
    margin-bottom: 15px;
  }

  .contact ul li {
    margin:0;
  }

  .data:first-of-type{
    margin-top:50px!important;
  }
  
  .data {
    width: 90%;
    height: auto;
    margin:3px 5%!important;
    float: initial;
    display:block;
    align-items: initial; 
    justify-content: initial;
  }

  .data li{
    width:100% !important;
  }

  .item {
    border-bottom: 1px solid #555;
    padding: 3px;
    border-radius: 3px;
    box-shadow: 0px 0px 5px #555;
    margin-top: 5px;
    font-weight: 500;
    width: 100%;
    padding-left:26%;
  }  
  .fullname li {
    width: 100%;
    padding-left:0!important;
  }
   .col-3 {
    display: inline-block;
    width: 32%;
    margin: 10px 0.6666%;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 70%;
    font-weight: 600;
    border-bottom: 3px solid #555;
    border-radius: 3px;
  }
   
  .small .col-3 i{
     all:unset !important;
  }

  .col-1 {
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    padding: 7px;
    font-size: 65%;
    font-weight: 400;
    line-height: 1.5rem;
  }

  .item-container-img {
    display: inline-block;
    width: 48%;
    height: 200px;
    margin: 0.5% 0.5% 0 0.5%;
    padding: 5px;
    border-radius: 20px;
    overflow: hidden;
  }
  
  
  
.personal{
  display:block!important;
  content:none!important;
  clear:none!important;  
  justify-content:none!important;
}

.personal-half {
  width: 100%;
  margin:10px 0;
  float:initial!important; 
  border-radius:3px;
  box-shadow: 0 0 10px #555;
}

.git-profile{
  width:100%;
  margin:15px 0;
  padding:5px;
  border-radius:3px;
  text-align:center;
  float:initial;
  display:block;
  align-items: center; 
  justify-content: center;
  box-shadow: 0px 0px 15px #555;
}

.git-repos{
  display:block;
  width:100%;
  margin:10px 0;
  box-shadow: 0 0 5px #555;
  overflow-y:hidden;
 }

 .git-repos ul{
  list-style:none;
  margin:15px 0!important;
}

 .git-repos li{
  width:80%;
  margin-left:10%;
  box-shadow: 0 0 10px #555;
  margin: 7px 10%;
  padding:5px;
  padding-left:30%;
}

.footer-style ul li{
  display:inline-block;
  font-size:120%;
  margin:10px;
  padding:5px;
}

.footer-style p{
  font-size:70%;
}


}

@media (max-width:497px){
   .container{
       width:390px;
       margin:0 auto;
   }

   .git-repos li{
    width:80%;
    margin-left:10%;
    box-shadow: 0 0 10px #555;
    margin: 7px 10%;
    padding:5px;
    padding-left:15%;
  }

  .item-card{
    overflow-y:hidden;
  }

  .col-3{
    height:50px;
  }
  
  .title-row {
    width: 95%;
    margin: 5px 2.5% 0 2.5%;
    font-weight:350;
    font-size:75%;
    overflow-y:hidden;
  }

}